{% extends 'base.html' %} {% block content %}



<!-- Navbar Start -->
<div class="container-fluid">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a
        class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
        data-toggle="collapse"
        href="#navbar-vertical"
        style="height: 65px; margin-top: -1px; padding: 0 30px"
      >
        <h6 class="m-0">>Danh mục sản phẩm</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav
        class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
        id="navbar-vertical"
        style="width: calc(100% - 30px); z-index: 1"
      >
      <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
         
        {% for x in listPortfolio %}
         <a href="" class="nav-item nav-link">{{x.portfolioName}}</a>
        {% endfor %}
       </div>
      </nav>
    </div>
    <div class="col-lg-9">
      <nav
        class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
      >
        <a href="" class="text-decoration-none d-block d-lg-none">
          <h1 class="m-0 display-5 font-weight-semi-bold">
            <span class="text-primary font-weight-bold border px-3 mr-1"
              >LP</span
            >Long Phụng
          </h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav mr-auto py-0">
            <a href="{% url 'app1:index' %}" class="nav-item nav-link"
              >Trang chủ</a
            >
            <a href="{% url 'app1:shop' %}" class="nav-item nav-link"
              >Cửa hàng</a
            >

          

            <a href="{% url 'app1:blog' %}" class="nav-item nav-link">blog</a>

            <a href="{% url 'app1:contact' %}" class="nav-item nav-link"
              >Liên hệ</a
            >
          </div>
          {% if USER2 == -1  %}
          <div class="navbar-nav ml-auto py-0">
            <a href="{% url 'app1:userLogin' %}" class="nav-item nav-link"> Đăng nhập</a>
            <a href="{% url 'app1:register' %}"class="nav-item nav-link">Đăng ký</a>
          </div>
          
          {% else %}
          <div class="navbar-nav ml-auto py-0">
            <a href="{% url 'app1:userLogin' %}" class="nav-item nav-link"> {{USER.userName}}</a>
            <a href="{% url 'app1:userLogin' %}"class="nav-item nav-link">Đăng xuất</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Blog</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="{% url 'app1:blog' %}">Blog</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Tìm hiểu về thuốc lào</p>
    </div>
  </div>
</div>
<!-- Page Header End -->
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="all-blog-posts">
        <div class="row">
          <div class="col-lg-12">
            <div class="blog-post">
              <div class="blog-thumb">
                <img style="width: 90%;" src="../media/imageblog/blog2.png" alt="">
              </div>
              <div class="down-content">
                <a href="post-details.html"><h4>Tìm hiểu về thuốc lào</h4></a>
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">March 03, 2022</a></li>
                  <li><a href="#">10 Comments</a></li>
                </ul>
                <pre style="font-family: 'Roboto Condensed', sans-serif;">
Thuốc lào (danh pháp hai phần: Nicotiana rustica) là một loài thực vật thuộc chi Thuốc lá (Nicotiana).
Loài này có hàm lượng nicotin rất cao. Lá của nó ngoài việc dùng để hút còn sử dụng rộng rãi trong việc
sản xuất các thuốc trừ dịch hại hữu cơ. Thuốc lào có hàm lượng nicotin khoảng 9%, cao hơn nhiều so
với thuốc lá thông thường (khoảng 1 – 3%).
<img src="../media/imageblog/blog2-1.jpg" alt="">

<b>Sử dụng</b>

Nicotiana rustica thường được sử dụng cho các mục đích tạo phép thuật tôn giáo bởi các pháp sư Nam
Mỹ. Nó có thể chứa nhiều nicotin hơn tới 9 lần so với các loài phổ biến trong chi Nicotiana, như thuốc lá
(Nicotiana tabacum). Một lý do khác cho việc sử dụng nó cho các mục đích phép thuật tôn giáo là mức
độ tương đối cao của các beta-carbolin, bao gồm cả các harmala alkaloit như harman và norharman.
Phổ biến nhất trong các cách thức pha chế tại Nam Mỹ là ngâm hay pha với nước, và dung dịch này
sau đó được bơm vào dạ dày trong dạng chế phẩm gọi là singado hay singa. Nó cũng được dùng để
hút như một dạng xì gà, được sử dụng như là một loại thuốc thụt, chế thành một loại sản phẩm có 
thể liếm gọi là ambil, và thành loại thuốc bột để hít cùng với vỏ các loài Theobroma spp, chế thành
nu-nu – một loại thuốc hướng thần mà người Matsés ở khu vực Amazon sử dụng. Tại khu vực đông
nam Thổ Nhĩ Kỳ người ta dùng loài cây thân thảo này trộn cùng tro một số loài cây gỗ khác để chế ra
loại thuốc hít dạng ướt gọi là maraş otu. Họ sử dụng nó bằng cách đặt hỗn hợp dưới lưỡi giống như
snus của người Thụy Điển hay naswar của người Afghanistan. Nó cũng là loại thuốc pha trộn phổ biến
trong ayahuasca sử dụng ở một nơi tại khu vực Amazon.

<b>Tại Việt Nam</b>

Ở Việt Nam, cây thuốc lào được trồng chủ yếu để hút theo tập quán của người Việt vùng đồng bằng,
trung du Bắc Bộ đến Đèo Ngang (tỉnh Quảng Bình) và các dân tộc thiểu số từ miền núi phía bắc đến
miền tây Thanh Hóa – Nghệ An. Sau này, nó được trồng rộng rãi ở khắp nơi nhưng chỉ vài vùng được
xem là cho sản phẩm thuốc lào nổi tiếng như Hải Phòng và Thanh Hóa. Ngoài ra, thuốc lào còn dùng
làm phụ gia khi ăn trầu.

<b>Tập quán hút thuốc lào</b>

Theo Đào Duy Anh, cây thuốc lào có lẽ từ Lào (Ai Lao) du nhập vào Việt Nam nên mới có tên gọi như
thế. Cũng có giả thiết khác cho rằng, thuốc Lào được trồng và thử nghiệm lần đầu tiên bởi cụ Hồ Lào
vào thế kỷ 18, chính thức được đặt tên thương hiệu là thuốc Lào và được lưu hành rộng rãi trên thị
trường ba nước Đông Dương dưới sự bảo trợ của Pháp. Sách Vân Đài loại ngữ của Lê Quý Đôn và
Đồng Khánh dư địa chí gọi cây thuốc lào là tương tư thảo (cỏ nhớ thương), sở dĩ nó có tên gọi như vậy
bởi vì người nghiện thuốc lào mà 2, 3 ngày không được hút thì trong người luôn cảm thấy bứt rứt khó
chịu trong đầu luôn luôn nghĩ đến 1 hơi thuốc, giống như nhớ người yêu lâu ngày không gặp vậy đó mới
có tên là tương tư.[3] Thời xưa, ngoài miếng trầu là đầu câu chuyện, thuốc lào cũng được đem ra để
mời khách, hút thuốc lào còn được gọi là ăn thuốc lào.

Thuốc lào sau khi gieo trồng và thu hoạch chủ yếu được chế biến thủ công, lá được rửa, lau sạch sau
đó được thái, xắt nhỏ ra, phơi khô rồi hồ để tiện cho việc đóng thành bánh. Thuốc thái sợi nhỏ thì gọi là
thuốc rê.

Thuốc lào Quảng Xương, Thanh Hóa, Việt Nam, dạng thuốc rê. Bánh thuốc lào thường đóng gói cùng
với một lá mía viền quanh hoặc lá mít ở một mặt.

Ở một số vùng, thuốc lào đã thành thương hiệu ngon nổi tiếng, như An Lão, Tiên Lãng, Vĩnh Bảo, Kiến
An (thuộc thành phố Hải Phòng); Quảng Xương, Thanh Hóa. Trong những nơi trồng thuốc lào thì làng
An Tử Hạ nay là làng Nam Tử thuộc Tiên Lãng được đánh giá cao hơn hẳn, vì có tiếng là thuốc ngon và
đậm khói.
</pre>
                <div class="post-options">
                  <div class="row">
                    <div class="col-6">
                      <ul class="post-tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li><a href="#">Best Templates</a>,</li>
                        <li><a href="#">TemplateMo</a></li>
                      </ul>
                    </div>
                    <div class="col-6">
                      <ul class="post-share">
                        <li><i class="fa fa-share-alt"></i></li>
                        <li><a href="#">Facebook</a>,</li>
                        <li><a href="#"> Twitter</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="col-lg-12">
            <div class="sidebar-item comments">
              <div class="sidebar-heading">
                <h2>4 comments</h2>
              </div>
              <div class="content">
                <ul>
                  <li>
                    <div class="author-thumb">
                      <img src="../media/imageblog/comment-author-01.jpg" alt="">
                    </div>
                    <div class="right-content">
                      <h4>Charles Kate<span>May 16, 2020</span></h4>
                      <p>Fusce ornare mollis eros. Duis et diam vitae justo fringilla condimentum eu quis leo. Vestibulum id turpis porttitor sapien facilisis scelerisque. Curabitur a nisl eu lacus convallis eleifend posuere id tellus.</p>
                    </div>
                  </li>
                  <li class="replied">
                    <div class="author-thumb">
                      <img src="../media/imageblog/comment-author-02.jpg" alt="">
                    </div>
                    <div class="right-content">
                      <h4>Thirteen Man<span>May 20, 2020</span></h4>
                      <p>In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar vel mattis eget.</p>
                    </div>
                  </li>
                  <li>
                    <div class="author-thumb">
                      <img src="../media/imageblog/comment-author-03.jpg" alt="">
                    </div>
                    <div class="right-content">
                      <h4>Belisimo Mama<span>May 16, 2020</span></h4>
                      <p>Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt in, ultrices eget ligula. Sed vitae suscipit ligula. Vestibulum id turpis volutpat, lobortis turpis ac, molestie nibh.</p>
                    </div>
                  </li>
                  <li class="replied">
                    <div class="author-thumb">
                      <img src="../media/imageblog/comment-author-02.jpg" alt="">
                    </div>
                    <div class="right-content">
                      <h4>Thirteen Man<span>May 22, 2020</span></h4>
                      <p>Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sidebar-item submit-comment">
              <div class="sidebar-heading">
                <h2>Your comment</h2>
              </div>
              <div class="content">
                <form id="comment" action="#" method="post">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <fieldset>
                        <input name="name" type="text" id="name" placeholder="Your name" required="">
                      </fieldset>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <fieldset>
                        <input name="email" type="text" id="email" placeholder="Your email" required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <fieldset>
                        <input name="subject" type="text" id="subject" placeholder="Subject">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Submit</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="sidebar">
        <div class="row">
          <div class="col-lg-12">
            <div class="sidebar-item search">
              <form id="search_form" name="gs" method="GET" action="#">
                <input type="text" name="q" class="searchText" placeholder="Tìm kiếm blog..." autocomplete="on">
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sidebar-item recent-posts">
              <div class="sidebar-heading">
                <h2>Các bài blog gần đây</h2>
              </div>
              <div class="content">
                <ul>
                  <li><a href="post-details.html">
                    <h5>Thuốc lào làm từ gì và có hại không?</h5>
                    <span>May 03, 2022</span>
                  </a></li>
                  <li><a href="post-details2.html">
                    <h5>Tìm hiểu về thuốc lào</h5>
                    <span>Feb 02, 2022</span>
                  </a></li>
                  <li><a href="post-details3.html">
                    <h5>Quy trình trồng và chăm sóc thuốc lào Thanh Hóa</h5>
                    <span>Apr 04, 2022</span>
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sidebar-item categories">
              <div class="sidebar-heading">
                <h2>Sản phẩm của chúng tôi</h2>
              </div>
              <div class="content">
                <ul>
                  <li><a href="#">- Điếu cày</a></li>
                  <li><a href="#">- Thuốc lào</a></li>
                  <li><a href="#">- Nỏ điếu cày</a></li>
                  <li><a href="#">- Điếu cày kiệt tác</a></li>
                  <li><a href="#">- Nhận làm điếu cày theo yêu cầu</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sidebar-item tags">
              <div class="sidebar-heading">
                <h2>Tag Clouds</h2>
              </div>
              <div class="content">
                <ul>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">HTML5</a></li>
                  <li><a href="#">Inspiration</a></li>
                  <li><a href="#">Motivation</a></li>
                  <li><a href="#">PSD</a></li>
                  <li><a href="#">Responsive</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Checkout Start -->

<!-- Checkout End -->

{% endblock content %}
