<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {% load static %}
    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static  'css/sb-admin-2.css' %}" rel="stylesheet" />
  </head>

  <body style= "background-color: #D19C97">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản mơi!
                    <br>
                    <a href="{% url 'app1:index' %}">Bỏ qua đăng ký và xem sản phẩm</a>
                  </h1>
                 
                </div>
                <form
                  class="user"
                  action="{% url 'app1:register' %} "
                  enctype="multipart/form-data"
                  method="post"
                >
                  {% csrf_token %}

                  <div class="form-group">
                    <div class="">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        name="userName"
                        value ="{{userName}}"
                        required
                        id="exampleLastName"
                        placeholder="Nhập tên đăng nhập"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        name="phoneNumber"
                        required
                        value ="{{phoneNumber}}"
                        class="form-control form-control-user"
                        id="exampleInputEmail"
                        placeholder="Nhập sô điện thoại"
                      />
                    </div>

                    <div class="col-sm-6">
                      <input
                        type="email"
                        name="email"
                        value ="{{email}}"
                        required
                        class="form-control form-control-user"
                        id="exampleInputEmail"
                        placeholder="Nhập địa chỉ email"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        name="password"
                        value ="{{password}}"
                        required
                        class="form-control form-control-user"
                        id="exampleInputPassword"
                        placeholder="Nhập mật khẩu"
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        required
                        value ="{{resetpassword}}"
                        name="resetpassword"
                        class="form-control form-control-user"
                        id="exampleRepeatPassword"
                        placeholder="Nhập lại mật khẩu"
                      />
                    </div>
                  </div>
                  {% if thongbao != 'None' %}
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                      <symbol
                        id="check-circle-fill"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                        />
                      </symbol>
                      <symbol
                        id="info-fill"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                        />
                      </symbol>
                      <symbol
                        id="exclamation-triangle-fill"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                        />
                      </symbol>
                    </svg>
                    <div
                      class="alert alert-danger d-flex align-items-center"
                      role="alert"
                    >
                      <svg
                        class="bi flex-shrink-0 me-2"
                        width="24"
                        height="24"
                        role="img"
                        aria-label="Danger:"
                      >
                        <use xlink:href="#exclamation-triangle-fill" />
                      </svg>
                      <div>  &emsp; {{thongbao}}</div>
                    </div>
                    {% endif %} 
                   

                  <button
                    class="btn btn-primary btn-user btn-block"
                    type="submit"
                  >
                    Tạo tài khoản
                  </button>
                  {% comment %}
                  <a class="btn btn-primary btn-user btn-block">
                    Tạo tài khoản
                  </a>
                  {% endcomment %}
                  <hr />
                  <a
                    href="index.html"
                    class="btn btn-google btn-user btn-block"
                  >
                    <i class="fab fa-google fa-fw"></i> Đăng ký với Google
                  </a>
                  <a
                    href="index.html"
                    class="btn btn-facebook btn-user btn-block"
                  >
                    <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với Facebook
                  </a>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="{% url 'app1:forgetPass' %}"
                    >Quên mật khẩu</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="{% url 'app1:userLogin' %} "
                    >Bạn đã có tìa khoản! Đăng nhập</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  </body>
</html>
